.chats{
    max-width: 700px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2rem;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (min-width: 768px) {
    .chats {
        padding: 4rem;
    }
}

@media (min-width: 1024px) {
    .chats {
        padding: 8rem;
    }
}

.chats::-webkit-scrollbar {
    display: none;
}

.userDiv{
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.gptDiv{
    text-align: left;
    font-size: 0.9rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

.userMsg{
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

@media (max-width: 1024px) {
    .userMsg {
        margin-left: 8rem;
    }
}

@media (max-width: 768px) {
    .userMsg {
        margin-left: 2rem;
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    .userMsg {
        margin-left: 1rem;
        max-width: 70%;
    }
}

.hljs{
    border-radius: 14px;
}

pre{
    white-space: pre-wrap;
}