.chats{
    max-width: 700px;
    overflow-y: auto;
    padding: 8rem;
}

.chats::-webkit-scrollbar {
    display: none;
}

.chats {
    -ms-overflow-style: none;
    scrollbar-width: none;
} 

.userDiv{
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.gptDiv{
    text-align: left;
    font-size: 0.9rem;
}

.userMsg{
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
}

.hljs{
    border-radius: 14px;
}

pre{
    white-space: pre-wrap;
}